header{
    display: block;
    background-color: #f6d55c;
    padding: 1em;
    border-radius:25px;
    font-family:fantasy;
}

body{
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1em;
    width: 900px;
    color: black;
    background-color: grey;
    font-family: 'Rubik', sans-serif;
}

#photo{
  float:right;
  box-shadow:5px 5px 5px 5px;
}

h1, h2 {
    line-height: 1em;
  text-align:center;
  font-family: 'Xanh Mono', monospace;
  font-size: 2.5rem;
  margin: 0.67em 0;
}

main a {
    color: yellow;
    text-decoration: none;
}

main a:hover {
    color: blue;
}

footer{
    background-color:#ed553b;
    border-radius:25px;
    font-family:fantasy;
    text-align:center;
    font-family:fantasy;
    padding: 1em;
  }

  ul {
    width: 500px;
}