header{
    background-color: #f6d55c;
    padding: 1em;
    border-radius:25px;
    font-family:fantasy;
}

footer{
  background-color:#ed553b;
  border-radius:25px;
  font-family:fantasy;
}

#photo{
  float:right;
  box-shadow:5px 5px 5px 5px;
}

h1, h2 {
  text-align:center;
  font-family: 'Xanh Mono', monospace;
}

body{
    margin: 0 auto;
    font-size: 1.5em;
    width: 900px;
    background-color: grey;
    font-family: 'Rubik', sans-serif;
}

footer{
  text-align:center;
  font-family:fantasy;
}