@media only screen and (min-width: 35em){
    nav button {
        display: none;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul.hide{
        display: block;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }

    .cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
      }
    
      .cards section:nth-child(odd) img {
        grid-column: 1;
      }
    
      .cards section:nth-child(odd) #information{
        grid-column: 2;
        grid-row: 1;
      }

      
}