header, footer, h2, p {
    text-align: center;
}

main{
    margin: 0;
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
}
section{
    background-color: #00b3ff;
    border: 3px dashed #003cff;
}
img{
    margin: 10px auto;
    display:block;
    border-radius: 10px;
    width: 80%;
    height: auto;
}

@media only screen and (min-width: 35em) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* @media only screen and (min-width: 50em) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
} */

@media only screen and (min-width: 64rem) {
    .cards{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}





