
/*----------- HEADER --------------*/

header{
    background-color: #9BC1BC;
    color:#1F2F16;
    padding-bottom: 20px;
    text-align: center;
}

header h1, header h2{
    font-size: 5em;
    margin:0 auto;
    font-family: 'Cormorant Unicase', serif;
}

header h2{
    font-size: 2.5em;
    margin:0 auto;
}

header img{
    border-radius:3pc 3pc;
    height: 130px;
}

/*----------- NAVIGATION --------------*/
nav{
    font-size: 2em;
    background-color: #9BC1BC;
    font-family: 'Public Sans', sans-serif;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li a{
    display: block;
    padding: .8em;
    text-decoration: none;
    color: #1F2F16;
    text-align: center;
    background-color: #9BC1BC;
}

nav ul li a:active{
    color:#F4F1BB;
}
nav ul li.active a{
    background-color: #F4F1BB;
    color: #05668D;
}

nav ul li a:hover{
    background-color: rgb(122, 152, 101);
}

nav ul.hide{
    display: none;
}

nav button{
    background-color: #9BC1BC;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/*----------- MAIN --------------*/


/*----------- BODY --------------*/
.banner-container img{
    position: relative;
    width: 100%;
    height: auto;
}

.banner-quote{
 display: none;
}

body{
    background-color: #F4F1BB;
    text-align: center;
}

.about-container{
    border: dotted 5px black;
    border-radius: 10px;
    margin:10px;
}

.about-container h2{
    font-family: 'Public Sans', sans-serif;
    font-size: 3em;
}

.about-container p{
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
}

.about-container img{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-button{
    margin: 10px;
}

.action-button form input{
    border: solid 1px black;
    border-radius: 4px 4px;
    width: 100%;
    max-width: 200px;
    height:50px;
    font-family: 'Crimson Text', serif;
    font-size: 1em;
}

.action-button input:hover{
    background-color: rgb(181, 181, 181);
}


.three-businesses-container{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
}

.three-businesses-container h3{
    font-family: 'Public Sans', sans-serif;
    font-size: 2em;
}

.business{
    height: auto;
    border-radius: 10px;
    border: dotted 5px black;
    margin: 10px;
}

.business img{
    border-radius: 10px;
}

.events-weather-container{
    margin-top: 30px;
    border: dotted 5px black;
    background-color: #9BC1BC;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Public Sans', sans-serif;
    font-size: 2em;
}

.events-container img{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    
}

.events-container p, .events-container h3, .events-container h4{
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    margin: 0;
    margin-bottom: 10px;
}

#weekly-forecast{
    display:grid;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
    grid-gap: 10px;
}

.weekdays{
    grid-column: 3/5;
}

.forecast, .weekdays {
  border: 5px solid black;
}

#weekly-forecast img{
  margin: 0 auto;
  width: 25%;
}

#day-1, #day-2, #day-3, #day-4, #day-5, #temp-1, #temp-2, #temp-3, #temp-4, #temp-5 {
    font-family: 'Public Sans', sans-serif;
  font-size: 1em;
}

.forecast h3{
  text-align: center;
  border-bottom: 5px solid black;
  font-family: 'Public Sans', sans-serif;
  font-size: 2em;
}   

/*  font-family: 'Public Sans', sans-serif; subheaders;
font-family: 'Crimson Text', serif; body
font-family: 'Amatic SC', cursive; events */


/*----------- FOOTER --------------*/
footer{
    clear: both;
}

footer h4{
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Public Sans', sans-serif
}

footer p{
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    margin-top: 10px;

}

/*-------------THE CITY-------------- */
.welcome-container{
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    align-items: center;
    grid-gap:20px;
    border: dotted 5px black;
    margin: 10px;
}

.welcome-container p{
    grid-column: 2/3;
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    line-height: 26pt;
}

.welcome-container img{
    grid-column: 2/3;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.do-container{
    display: inline-block;
    grid-template-columns:10px 1fr 10px;
    grid-template-rows: 3rem 1fr .25fr 1fr;
    grid-gap:20px;
    border: dotted 5px black;
    margin: 10px;
    margin-top: 10px;
}

.do-title{
    font-family: 'Public Sans', sans-serif;
    font-size: 3em;
    margin:0;
    padding: 0;
}

.do-container img{
    width:100%;
    border-radius: 10px 10px 10px 10px;
}

.do-container p{
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    line-height: 26pt;
}

.history-container{
    border: dotted 5px black;
    margin: 10px;
}

.history-container img{
    border-radius: 10px 10px 10px 10px;
}

.history-container h2{
    font-family: 'Public Sans', sans-serif;
    font-size: 3em;
}

.history-container p{
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
}

.history-container .quote{
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    font-style: italic;
}

.government-container{
    border: dotted 5px black;
    margin: 10px;
}

.government-title{
    font-family: 'Public Sans', sans-serif;
    font-size: 3em;
}

.government-container h4{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.government-container p{
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.government-container img{
    width: 70%;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
}

/*--------JOIN----------*/

.join-body{
    text-align: left;
}

main .heading, legend{
    font-family: 'Public Sans', sans-serif;
}

main .heading{
    padding-top: 10px;
    margin: 0 2em 5%;
    font-size: 30px;
    margin-bottom: 0;
}

form {
    color: #1F2F16;
    font-size: 1.5em;
  }
  
  form fieldset {
    margin: 3em;
    border: 5px dotted black;
    border-radius: 10px 10px;
    padding: 2em;
  }
  
  form legend {
    color: #1F2F16;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  form label.top, form label.user-info, form div {
    display: block;
    padding-bottom: 15px;
  }
  
  form label.user-info input:required {
    border-left: 7px red solid;
   
  }
  
  form label.user-info input:required:valid {
    border-left: 7px green solid;
  }
  
  form label.top input, form label.user-info input {
    display: block;
    border: solid 1px black;
    border-radius: 10px 10px;
    padding: 0.5em;
    width: 100%;
    background-color: white;
    max-width: 800px;
  }
  
  form label.options {
    display: block;
    padding-top: 1em;
  }

  .title{
      padding-bottom: 0;
      padding-top: 10px;
  }
  
  form label.storm {
    display: block;
    padding: .75em 0;
  }
  
  form input.Sbtn {
    border: solid 1px black;
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    border-radius: 15px;
    width: 100%;
    max-width: 15em;
    margin-left: 4em;
    margin-right: 34em;
  }

  form input.Sbtn:hover{
    background-color: rgb(181, 181, 181);
}


  table {
    margin: 0 2em 5%;
    margin-top: 2em;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    text-align: center;
}

table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: .5em;
}
thead tr:nth-child(1){
    font-size: 1.5em;
}

thead tr:nth-child(1), tfoot{
    background-color: #7fb9c2;
}

thead tr:nth-child(2){
    background-color: #628ca6;
    color: white;

}

table tbody tr:nth-child(even){
    background-color: #e7ffed;
}
table tbody tr:nth-child(odd){
    background-color: #e7f0ed;
}

.nov td:nth-child(3){
    background-color: #628ca6;
    color: white;
}

tfoot{
    font-size: .7em;
}

/*--------CONTACT----------*/
/*  font-family: 'Public Sans', sans-serif; subheaders;
font-family: 'Crimson Text', serif; body
font-family: 'Amatic SC', cursive; events */

.board{
    margin: 4em;
    text-align: left;
    font-family: 'Crimson Text', serif;
    border: 5px dotted black;
    border-radius: 10px 10px 10px 10px;

}
.board h2{
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 2em;
}

.board p, .board h3, .board ul li{
    margin: 10px;
    font-size: 1.2em;
}
#businessdescription{
    max-width: 500px;
}

.thankyou{
    font-family: 'Crimson Text', serif;
    font-size: 2em;
}

/*--------DIRECTORY----------*/

                /*--------LIST-VIEW----------*/
 .directory-main{
    margin:  15px auto;
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}

.directory-main button{
    width:180px;
    height:50px;
    font-family: 'Public Sans', sans-serif;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px 10px;

    
}

.directory-main button:hover{
    background-color: rgb(181, 181, 181);
}
.cards{
    grid-gap:15px;
    width: 80%;
    margin: 20px auto;
    /* justify-content: center; */
    text-align: center;
    font-size: .7em;
}

.cards span:nth-child(1){
text-align: center;
font-family: 'Public Sans', sans-serif;
font-size: 2em;
}

.cards section{
    background-color: #7fb9c2;
    border: 5px dotted black;
    border-radius: 10px 10px;
}
.cards img{
    margin: 20px auto;
    width: 100%;
    height: auto;
} 






